@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Black.otf") format("opentype");
  font-weight: 900; /* Assuming it's a bold font */
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: 400; /* Assuming it's a bold font */
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Medium.otf") format("opentype");
  font-weight: 500; /* Assuming it's a bold font */
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 700; /* Assuming it's a bold font */
  font-style: normal;
}

.element {
  background: radial-gradient(
    223.96% 223.96% at 50% -76.04%,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 90%
  );
}

.element1 {
  background: linear-gradient(
    155.93deg,
    rgba(255, 255, 255, 0.19) 9.11%,
    rgba(0, 0, 0, 0.0019) 76.61%
  );
}

.gradient-text {
  background: linear-gradient(131.91deg, #ffffff 28.43%, #848484 62.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* Fallback for other browsers */
  color: transparent; /* Fallback for other browsers */
}
